name: area

on:
  push:
    branches-ignore:
      - 'ga-ignore-'
    tags:
      - 'v*'
  pull_request:
    branches-ignore:
      - 'ga-ignore-'


permissions:
  contents: write


env:
  URL_AREA: ${{vars.URL_AREA}}
  REPO_NAME: G-DEV-500-TLS-5-2-area-10
  REPO_OWNER: EpitechPGE3-2025


jobs:

  push_to_mirror:
    runs-on: ubuntu-latest
##    needs: run_tests

    steps:
      - id: check_repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          repository: ''

      - id: mirror_push
        uses: pixta-dev/repository-mirroring-action@v1
        with:
          target_repo_url:
            ${{env.URL_AREA}}
          ssh_private_key:
            ${{secrets.SECRET_AREA}}


  create_release:
    runs-on: ubuntu-latest
    needs: push_to_mirror
    if: startsWith(github.ref, 'refs/tags/')

    steps:
      - id: check_repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          repository: ''

      - id: create_release
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ github.ref_name }}
          name: Release ${{ github.ref_name }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - id: create_release_mirror
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ github.ref_name }}
          name: Release ${{ github.ref_name }}
          owner: ${{env.REPO_OWNER}}
          repo: ${{env.REPO_NAME}}
          token: ${{ secrets.MIRROR_PAT }}